{
  "editorconfig": true,
  "arrowParens": "always",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "semi": true,
  "singleAttributePerLine": false,
  "htmlWhitespaceSensitivity": "css"
}
