---
import Layout from "@layouts/Layout.astro";
import { CollectionEntry,getCollection } from "astro:content";

// To call SSR options: 
export const prerender = true;

// getStaticPaths function to getPosts of locally .md posts: 
export async function getStaticPaths() {
  const posts = await getCollection("blog");

  return posts.map((post) => ({
    params: { slug: post.slug, uid: post.id.toString() },
    props: post,
  }));
}

type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
---

<Layout>
  <h1>Post Title: {post.data.title }</h1>
  <h1>Post Details by slug: {post.data.title }</h1>
  <Content />
</Layout>
