@import "./tw.css";

:root {
  --width: 720px;
  --font-main: Verdana, sans-serif;
  --font-secondary: Verdana, sans-serif;
  --font-scale: 1em;

  --bg-color-red: #cb2a27;
  --background-color: #fff;
  --heading-color: #292929;
  --text-color: #444;
  --link-color: #3273dc;
  --visited-color: #8b6fcb;
  --code-background-color: #f2f2f2;
  --code-color: #222;
  --blockquote-color: #222;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #01242e;
    --heading-color: #eee;
    --text-color: #ddd;
    --link-color: #8cc2dd;
    --visited-color: #8b6fcb;
    --code-background-color: #000;
    --code-color: #ddd;
    --blockquote-color: #ccc;
  }
}

html,
body {
  box-sizing: border-box;
  font-family: var(--font-secondary);
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-size-adjust: 100%;
  font-synthesis: none;
  height: 100vh;
}

*::after,
*::before,
* {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  font-size: 1.8rem;
  /* max-width: 80rem; */
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  line-height: 1.5;
  color: whitesmoke;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
  line-height: 1;
  margin: 0;
}
a {
  color: var(--link-color);
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav a {
  margin-right: 8px;
}

strong,
b {
  color: var(--heading-color);
}

button {
  margin: 0;
  border: none;
  outline-width: 1px;
  outline-color: var(--blockquote-color);
  outline-style: solid;
  cursor: pointer;
  appearance: none;
}

table {
  width: 100%;
}

hr {
  border: 0;
  border-top: 1px dashed;
}

img {
  max-width: 100%;
}

code {
  font-family: monospace;
  padding: 0.2rem;
  border-radius: 0.3rem;
}

blockquote {
  border-left: 1px solid #999;
  font-style: italic;
}

header {
  margin: 0;
}

header,
footer {
  background-color: var(--bg-color-red);

  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  position: sticky;
  margin-top: auto;
  /* text-align: center; */
}

.title:hover {
  text-decoration: none;
}

.title h1 {
  font-size: 1.5em;
}

.inline {
  width: auto !important;
}

.highlight,
.code {
  padding: 1px 15px;
  background-color: var(--code-background-color);
  color: var(--code-color);
  border-radius: 3px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  overflow-x: scroll;
}

/* blog post list */
ul.blog-posts {
  list-style-type: none;
  padding: unset;
}

ul.blog-posts li {
  display: flex;
}

ul.blog-posts li span {
  flex: 0 0 130px;
}

ul.blog-posts li a:visited {
  color: var(--visited-color);
}
