---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Homepage Title" description="Homepage Description">
  <main class="max-w-3xl m-auto flex place-items-center">
    <h1 class="text-slate-900 text-8xl">App Root</h1>
  </main>
</Layout>
