---
import Layout from "@layouts/Layout.astro";
---

<Layout title="">
    <h1>Brand Logo</h1>

    <nav class="container grid grid-col-2">
        <ul>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/blog">Blog</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
            <li>
                <a href="/causes">Causes</a>
            </li>
        </ul>
    </nav>

</Layout>